h1,
h3 {
  text-align: center;
  font-family: ;
}

body {
  background-color: lightgray;
}

.information {
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: solid black;
  padding: 10px;
}
