h1,
h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
}

body {
  background-color: #e5eaf5;
}

.information {
  /* background-color: white; */
  width: 50%;
  margin: 10px auto;
  /* border: 1px solid white; */
  padding: 10px;
  border-radius: 10px;
}

.information h2 {
  font-family: "Lato", sans-serif;
}

.information p,
ul {
  font-family: "Manrope", sans-serif;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: #1565c0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

#desk {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

#dunks {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.dash {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.detector {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}
