h1,
h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
}

body {
  background-color: #e5eaf5;
}

.information {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.information h2 {
  font-family: "Lato", sans-serif;
}

.information p,
ul {
  font-family: "Manrope", sans-serif;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.navigation a:hover {
  background: #1565c0;
}

#desk {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #000;
  transition: all 300ms ease-in-out;
}

#dunks {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #000;
  transition: all 300ms ease-in-out;
}

#desk:hover {
  box-shadow: 0px 3px 30px black;
  width: 51%;
  height: 51%;
}

#dunks:hover {
  box-shadow: 0px 3px 30px black;
  width: 51%;
  height: 51%;
}

.dash {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #000;
  transition: all 300ms ease-in-out;
}

.detector {
  font-family: "Lato", sans-serif;
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #000;
  transition: all 300ms ease-in-out;
}

.dash:hover {
  box-shadow: 0px 3px 30px black;
  width: 51%;
  height: 51%;
}

.detector:hover {
  box-shadow: 0px 3px 30px black;
  width: 51%;
  height: 51%;
}

#email {
  width: 42px;
  height: 42px;
}

#linkedin {
  width: 42px;
  height: 42px;
}

#git {
  width: 42px;
  height: 42px;
}

@media (min-width: 600px) {
  .header {
    grid-area: 1 / span 6;
  }
  .menu {
    grid-area: 2 / span 1;
  }
  .content {
    grid-area: 2 / span 4;
  }
  .facts {
    grid-area: 3 / span 6;
  }
  .footer {
    grid-area: 4 / span 6;
  }
}

@media (min-width: 768px) {
  .header {
    grid-area: 1 / span 6;
  }
  .menu {
    grid-area: 2 / span 1;
  }
  .content {
    grid-area: 2 / span 4;
  }
  .facts {
    grid-area: 2 / span 1;
  }
  .footer {
    grid-area: 3 / span 6;
  }
}
