h1,
h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: black;
}

body {
  background-color: lightgray;
}

.information {
  background-color: white;
  width: 50%;
  margin: 10px auto;
  border: solid white;
  padding: 10px;
  border-radius: 10px;
}
